/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* Global Selector Styling */
body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 375px;
    width: 100%
}
footer {
    margin: 20px;
    color: #c2c2c2;
    font-size: 20px;
}
.open-sans {
    font-family: Open Sans;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
}
/* Intial Logo and selection landing page mobile */
.logo-wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
}
.nyt-logo {
    height: 300px;
}
.selection-wrapper {
    height: 60px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-selection {
    margin: 0 auto;
    font-size: 18px;
}
@media screen and (min-width:600px) {
    header {
        flex-direction: row;
        width: 70%;
        justify-content: flex-start;
    }
    .logo-wrapper {
        width: 50%;
    }
}
@media screen and (min-width:1240px) {
    body {
        align-items: flex-start;
    }
    header {
        width: 700px;
    }
}