/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background: black;
    font-family: Open Sans;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}
.logo-wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
}
.nyt-logo {
    height: 300px;
}
.selection-wrapper {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}