/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
%flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Global Selector Styling */
body {
    background: black;
    justify-content: space-evenly;
    height: 100vh;
    @extend %flex-box;
}
header {
    display: flex;
    height: 375px;
    width: 100%;
    @extend %flex-box;
}
footer {
    margin: 20px;
    color: #c2c2c2;
    font-size: 20px;
}
.open-sans {
    font-family: Open Sans;
    font-weight: 300;
    color: $base-white;
    font-size: 16px;
    
    /* Intial Logo and selection landing page mobile */
    .logo-wrapper {
        display: flex;
        justify-content: center;
        width: 80%;

        .nyt-logo {
            height: 300px;
        }
    }
    .selection-wrapper {
        height: 60px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .news-selection {
            margin: 0 auto;
            font-size: 18px;
        }
    }
    .articles {
        width: 100%;
        display: flex;
        justify-content: center;

        .currentNews {
            @extend %flex-box;
            width: 100%;

            .article-link {
                text-decoration: none;

                .article-box {
                    display: flex;
                    align-items: flex-end;
                    height: 420px;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: 50%;
                    
                    .article-text {
                        color: #ffffff;
                        width: 100%;
                        padding: 10px;
                        text-align: center;
                        line-height: 1.25em;
                        background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));;
                    }
                }
            }
        }
    }
}


